@model DetailPersonViewModel
@{ ViewData["Title"] = "Detail";
    var PhotoPath = "~/Images/" + (Model.Image);
    }

<h2>Detail</h2>

<form method="get" asp-controller="Person" asp-action="detail">

    
    <div class="card-body text-center">
        <img class="card-img-top" src="@PhotoPath" asp-append-version="true" style="width:500px" />
        <h4>PersonId : @Model.Id</h4>
        <h4>FirstName : @Model.FirstName</h4>
        <h4>LastName : @Model.LastName</h4>
        <h4>Gender : @Model.Gender</h4>
        <h4>BirthDate : @Model.BirthDate</h4>
        <h4>City : @Model.City</h4>
        <h4>PhoneNumber : @Model.PhoneNumber</h4>
        <h4>PhoneNumberType : @Model.PhoneNumberType</h4>
        <h4>PmNumber : @Model.PmNumber</h4>
    </div>
</form>

<div class="card-footer text-center">
    <a asp-controller="Person" asp-action="Index" class="btn btn-primary">Back</a>
    <a  asp-controller="Person"asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-controller="Person" asp-route-id="@Model.Id" >Delete</a>
</div>